.elementor-3050 .elementor-element.elementor-element-ca2a633 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --margin-top: -10px;
    --margin-bottom: 70px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-3050 .elementor-element.elementor-element-f068c36 {
    --display: flex;
}

.elementor-3050 .elementor-element.elementor-element-6db13aa {
    --wd-img-height: 586px;
}

.elementor-3050 .elementor-element.elementor-element-6db13aa .banner-image {
    object-position: center center;
}

.elementor-3050 .elementor-element.elementor-element-6db13aa .banner-title {
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 300;
}

.elementor-3050 .elementor-element.elementor-element-6db13aa .banner-subtitle {
    color: #FFFFFF;
}

.elementor-3050 .elementor-element.elementor-element-6db13aa .banner-inner {
    color: #FFFFFF;
}

.elementor-3050 .elementor-element.elementor-element-6db13aa .promo-banner:not(.banner-content-background) .content-banner,
.elementor-3050 .elementor-element.elementor-element-6db13aa .promo-banner.banner-content-background .wrapper-content-banner {
    max-width: 50%;
}

.elementor-3050 .elementor-element.elementor-element-292fc36 {
    --display: flex;
}

.elementor-3050 .elementor-element.elementor-element-0b73709 {
    --wd-img-height: 283px;
}

.elementor-3050 .elementor-element.elementor-element-0b73709 .banner-image {
    object-position: center center;
}

.elementor-3050 .elementor-element.elementor-element-0b73709 .banner-title {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 300;
}

.elementor-3050 .elementor-element.elementor-element-0b73709 .banner-subtitle {
    color: #FFFFFF;
}

.elementor-3050 .elementor-element.elementor-element-0b73709 .banner-inner {
    color: #FFFFFF;
}

.elementor-3050 .elementor-element.elementor-element-0b73709 .promo-banner:not(.banner-content-background) .content-banner,
.elementor-3050 .elementor-element.elementor-element-0b73709 .promo-banner.banner-content-background .wrapper-content-banner {
    max-width: 130px;
}

.elementor-3050 .elementor-element.elementor-element-b3ed652 {
    --wd-img-height: 283px;
}

.elementor-3050 .elementor-element.elementor-element-b3ed652 .banner-image {
    object-position: center center;
}

.elementor-3050 .elementor-element.elementor-element-b3ed652 .banner-title {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 300;
}

.elementor-3050 .elementor-element.elementor-element-b3ed652 .banner-subtitle {
    color: #FFFFFF;
}

.elementor-3050 .elementor-element.elementor-element-b3ed652 .banner-inner {
    color: #FFFFFF;
}

.elementor-3050 .elementor-element.elementor-element-b3ed652 .promo-banner:not(.banner-content-background) .content-banner,
.elementor-3050 .elementor-element.elementor-element-b3ed652 .promo-banner.banner-content-background .wrapper-content-banner {
    max-width: 130px;
}

.elementor-3050 .elementor-element.elementor-element-9b61be4 {
    --display: flex;
}

.elementor-3050 .elementor-element.elementor-element-fa33c9a {
    --wd-img-height: 586px;
}

.elementor-3050 .elementor-element.elementor-element-fa33c9a .banner-image {
    object-position: center center;
}

.elementor-3050 .elementor-element.elementor-element-fa33c9a .banner-title {
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 300;
}

.elementor-3050 .elementor-element.elementor-element-fa33c9a .banner-subtitle {
    color: #FFFFFF;
}

.elementor-3050 .elementor-element.elementor-element-c4306db {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 30px 30px;
    --row-gap: 30px;
    --column-gap: 30px;
    --margin-top: 0px;
    --margin-bottom: 80px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-3050 .elementor-element.elementor-element-258ccbd {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --margin-top: 0px;
    --margin-bottom: -40px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-3050 .elementor-element.elementor-element-258ccbd:not(.elementor-motion-effects-element-type-background),
.elementor-3050 .elementor-element.elementor-element-258ccbd>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #db3340;
}

.elementor-3050 .elementor-element.elementor-element-ac9787a {
    --display: flex;
    --align-items: center;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    border-style: solid;
    --border-style: solid;
    border-width: 0px 1px 0px 0px;
    --border-top-width: 0px;
    --border-right-width: 1px;
    --border-bottom-width: 0px;
    --border-left-width: 0px;
    border-color: rgba(255, 255, 255, 0.15);
    --border-color: rgba(255, 255, 255, 0.15);
    --padding-top: 30px;
    --padding-bottom: 30px;
    --padding-left: 15px;
    --padding-right: 15px;
}

.elementor-3050 .elementor-element.elementor-element-68a4a3c {
    width: auto;
    max-width: auto;
}

.elementor-3050 .elementor-element.elementor-element-8af2489 {
    --display: flex;
    --align-items: center;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    border-style: solid;
    --border-style: solid;
    border-width: 0px 1px 0px 0px;
    --border-top-width: 0px;
    --border-right-width: 1px;
    --border-bottom-width: 0px;
    --border-left-width: 0px;
    border-color: rgba(255, 255, 255, 0.15);
    --border-color: rgba(255, 255, 255, 0.15);
    --padding-top: 30px;
    --padding-bottom: 30px;
    --padding-left: 15px;
    --padding-right: 15px;
}

.elementor-3050 .elementor-element.elementor-element-52e7636 {
    width: auto;
    max-width: auto;
}

.elementor-3050 .elementor-element.elementor-element-a2b764f {
    --display: flex;
    --align-items: center;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    border-style: solid;
    --border-style: solid;
    border-width: 0px 1px 0px 0px;
    --border-top-width: 0px;
    --border-right-width: 1px;
    --border-bottom-width: 0px;
    --border-left-width: 0px;
    border-color: rgba(255, 255, 255, 0.15);
    --border-color: rgba(255, 255, 255, 0.15);
    --padding-top: 30px;
    --padding-bottom: 30px;
    --padding-left: 15px;
    --padding-right: 15px;
}

.elementor-3050 .elementor-element.elementor-element-f3026c0 {
    width: auto;
    max-width: auto;
}

.elementor-3050 .elementor-element.elementor-element-6fce187 {
    --display: flex;
    --align-items: center;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --padding-top: 30px;
    --padding-bottom: 30px;
    --padding-left: 15px;
    --padding-right: 15px;
}

.elementor-3050 .elementor-element.elementor-element-12ecd31 {
    width: auto;
    max-width: auto;
}

@media(max-width:1024px) {
    .elementor-3050 .elementor-element.elementor-element-ca2a633 {
        --margin-top: -40px;
        --margin-bottom: 70px;
        --margin-left: 0px;
        --margin-right: 0px;
    }
    .elementor-3050 .elementor-element.elementor-element-6db13aa {
        --wd-img-height: 486px;
    }
    .elementor-3050 .elementor-element.elementor-element-6db13aa .banner-title {
        font-size: 32px;
    }
    .elementor-3050 .elementor-element.elementor-element-0b73709 {
        --wd-img-height: 233px;
    }
    .elementor-3050 .elementor-element.elementor-element-0b73709 .banner-title {
        font-size: 20px;
    }
    .elementor-3050 .elementor-element.elementor-element-b3ed652 {
        --wd-img-height: 233px;
    }
    .elementor-3050 .elementor-element.elementor-element-b3ed652 .banner-title {
        font-size: 20px;
    }
    .elementor-3050 .elementor-element.elementor-element-fa33c9a .banner-title {
        font-size: 32px;
    }
    .elementor-3050 .elementor-element.elementor-element-c4306db {
        --flex-direction: column;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --flex-wrap-mobile: wrap;
        --margin-top: 0px;
        --margin-bottom: 60px;
        --margin-left: 0px;
        --margin-right: 0px;
    }
    .elementor-3050 .elementor-element.elementor-element-258ccbd {
        --flex-wrap: wrap;
    }
    .elementor-3050 .elementor-element.elementor-element-8af2489 {
        border-width: 0px 0px 0px 0px;
        --border-top-width: 0px;
        --border-right-width: 0px;
        --border-bottom-width: 0px;
        --border-left-width: 0px;
    }
}

@media(max-width:768px) {
    .elementor-3050 .elementor-element.elementor-element-ca2a633 {
        --flex-direction: column;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --flex-wrap-mobile: wrap;
        --margin-top: -40px;
        --margin-bottom: 60px;
        --margin-left: 0px;
        --margin-right: 0px;
    }
    .elementor-3050 .elementor-element.elementor-element-6db13aa {
        --wd-img-height: 360px;
    }
    .elementor-3050 .elementor-element.elementor-element-6db13aa .banner-title {
        font-size: 28px;
    }
    .elementor-3050 .elementor-element.elementor-element-6db13aa .promo-banner:not(.banner-content-background) .content-banner,
    .elementor-3050 .elementor-element.elementor-element-6db13aa .promo-banner.banner-content-background .wrapper-content-banner {
        max-width: 100%;
    }
    .elementor-3050 .elementor-element.elementor-element-0b73709 {
        --wd-img-height: 360px;
    }
    .elementor-3050 .elementor-element.elementor-element-0b73709 .banner-title {
        font-size: 28px;
    }
    .elementor-3050 .elementor-element.elementor-element-b3ed652 {
        --wd-img-height: 360px;
    }
    .elementor-3050 .elementor-element.elementor-element-b3ed652 .banner-title {
        font-size: 28px;
    }
    .elementor-3050 .elementor-element.elementor-element-fa33c9a .banner-title {
        font-size: 28px;
    }
    .elementor-3050 .elementor-element.elementor-element-ac9787a {
        --width: 100%;
        border-width: 0px 0px 0px 0px;
        --border-top-width: 0px;
        --border-right-width: 0px;
        --border-bottom-width: 0px;
        --border-left-width: 0px;
    }
    .elementor-3050 .elementor-element.elementor-element-8af2489 {
        --width: 100%;
    }
    .elementor-3050 .elementor-element.elementor-element-a2b764f {
        --width: 100%;
        border-width: 0px 0px 0px 0px;
        --border-top-width: 0px;
        --border-right-width: 0px;
        --border-bottom-width: 0px;
        --border-left-width: 0px;
    }
    .elementor-3050 .elementor-element.elementor-element-6fce187 {
        --width: 100%;
    }
}

@media(min-width:769px) {
    .elementor-3050 .elementor-element.elementor-element-f068c36 {
        --width: 50%;
    }
    .elementor-3050 .elementor-element.elementor-element-292fc36 {
        --width: 25%;
    }
    .elementor-3050 .elementor-element.elementor-element-9b61be4 {
        --width: 25%;
    }
    .elementor-3050 .elementor-element.elementor-element-ac9787a {
        --width: 25%;
    }
    .elementor-3050 .elementor-element.elementor-element-8af2489 {
        --width: 25%;
    }
    .elementor-3050 .elementor-element.elementor-element-a2b764f {
        --width: 25%;
    }
    .elementor-3050 .elementor-element.elementor-element-6fce187 {
        --width: 25%;
    }
}

@media(max-width:1024px) and (min-width:769px) {
    .elementor-3050 .elementor-element.elementor-element-f068c36 {
        --width: 66.6%;
    }
    .elementor-3050 .elementor-element.elementor-element-292fc36 {
        --width: 33.4%;
    }
    .elementor-3050 .elementor-element.elementor-element-ac9787a {
        --width: 50%;
    }
    .elementor-3050 .elementor-element.elementor-element-8af2489 {
        --width: 50%;
    }
    .elementor-3050 .elementor-element.elementor-element-a2b764f {
        --width: 50%;
    }
    .elementor-3050 .elementor-element.elementor-element-6fce187 {
        --width: 50%;
    }
}